/*--Styling the body so the content doesn't go underneath the footer Start--*/

#body {

    margin-bottom: 75px;

}

/*--Styling the body so the content doesn't go underneath the footer End--*/

/*--Styling the navigation bar Start--*/

#navigationbar {

    background: rgba(0,0,0,0.4);

}	

/*--Styling the navigation bar End--*/

/*Styling the footer Start*/

#footer {

        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%; 
        height: 75px;
        background: gray;

    }

#content {

        background-color: lightgray;

}

/*Styling the footer End*/    