/*--Styling the body so the content doesn't go underneath the footer Start--*/

#body {

    margin-bottom: 75px;

}

/*--Styling the body so the content doesn't go underneath the footer End--*/

/*--Styling the navigation bar Start--*/

#navigationbar {

    background: rgba(0, 0, 0, 0.4);

}

/*--Styling the navigation bar End--*/

/*Styling the footer Start*/

#footer {

    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: gray;

}

#content {

    background-color: lightgray;

}

/*Styling the footer End*/

/*Styling the background image Start*/

#mainimage {

    width: 100%;
    height: 350px;

}

/*Styling the background image End*/

/*--Styling the container that show's the current location from the top of the main content Start--*/

#yoast-breadcrumbs {

    position: relative;
    top: -120px;
    text-align: left;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 74%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0) 100%);
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;

}

#textyoast {

    text-decoration: underline;
    font-weight: bold;
    color: black;

}

@media (max-width: 1199.98px) {
    .responsive-font1 {
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .responsive-font1 {
        font-size: 15px;
        text-align: center;
    }
}

/*--Styling the container that show's the current location from the top of the main content End--*/