/*--Styling background Image from the top Start --*/

#imagemain {

    width: 1920px;
    height: 375px;

}

/*--Styling background Image from the top End --*/
/*--Styling the main container for content Start--*/

#containerfirst {

    margin-top: -100px;
    border: 2px solid black;
    background-color: white;
    opacity: 0.9;
    width: 60%;
    margin-bottom: 77px;

}

/*--Styling the main container for content End--*/
#textyoast {

    text-decoration: none;
    font-weight: normal;
    color: #007bff;

}

#textyoast:hover {

    text-decoration: underline;
    font-weight: 500;
    color: #007bff;

}

#textyoastsecond {

    text-decoration: underline;
    font-weight: bold;
    color: black;

}

@media (max-width: 1199.98px) {
    #textyoastsecond {
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    #textyoastsecond {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 1199.98px) {
    #simpletext {
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    #simpletext {
        font-size: 15px;
        text-align: center;
    }
}