<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" id="cssLink">
    {% block linkcss %}
    {% endblock linkcss %}
    <!-- Link icon library(font awesome) -->
    <script src="https://kit.fontawesome.com/33f7703c38.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navigationbar">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/Logo.svg' %}" class="img-fluid" alt="Responsive image"
                    style="height: 50px; width: 100%; display: block;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" id="homeBTN">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fa fa-fw fa-home" aria-hidden="true">
                            </i>
                            Home
                            <span class="sr-only">
                                (current)
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" id="contactBTN">
                        <a class="nav-link" href="{% url 'contact' %}">
                            <i class="fa fa-fw fa-envelope" aria-hidden="true">
                            </i>
                            Contact
                        </a>
                    </li>
                    <li class="nav-item" id="aboutBTN">
                        <a class="nav-link" href="{% url 'about' %}">
                            <i class="fa-solid fa-address-card">
                            </i>
                            About us
                        </a>
                    </li>
                    <li class="nav-item" id="involveBTN">
                        <a class="nav-link" href="{% url 'involve_list' %}">
                            <i class="fa-solid fa-bell-concierge">
                            </i>
                            Get Involved
                        </a>
                    </li>
                    <li class="nav-item" id="newsBTN">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-radio">
                            </i>
                            News
                        </a>
                    </li>
                    <li class="nav-item" id="shopBTN">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-shop">
                            </i>
                            Shop
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item" id="shopBTN">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-right-to-bracket">
                            </i>
                            Log in
                        </a>
                    </li>
                    <li class="nav-item" id="signupBTN">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-user-plus">
                            </i>
                            Sign up
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block img %}
        {% endblock img %}
        <div id="yoast-breadcrumbs">
            <div class="container-fluid">
                <span>
                    <span id="textyoastadd">
                        <a class="responsive-font1" id="textyoast" href="{% url 'home' %}">
                            Home
                        </a>
                    </span>
                </span>
            </div>
        </div>
        {% block content %}
        {% endblock content %}
        <footer class="bg-light text-center text-lg-start" id="footer">
            <div class="text-center p-3" id="content">
                © 2022 The Venus Project | All rights reserved unless otherwise noted.
                <a class="text-dark" href="https://www.thevenusproject.com/">
                    TheVenusProject.com
                </a>
            </div>
        </footer>
    </div>
    {% block linkJS %}
    {% endblock linkJS %}
</body>

</html>