{% extends 'base.html' %}
{% load static %}

{% block img %}
<div>
    <img src="{% static 'images/NewsPage1.jpg' %}" class="img-fluid" id="mainimage">
</div>
{% endblock img %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
<title>News</title>
{% endblock linkcss %}

{% block linkJS %}
<script src="{% static 'js/news.js' %}"></script>
{% endblock linkJS %}

{% block content %}
<center>
<h1>New news</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
</center>
{% endblock content %}