{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block img %}
<div>
    <img src="{% static 'images/CartPage.png' %}" class="img-fluid" id="mainimage">
</div>
{% endblock img %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
<title>Shop</title>
{% endblock linkcss %}

{% block linkJS %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock linkJS %}

{% block content %}
<div>
  {% if not form.is_valid %}
  <div class="mx-auto">
    <br />
    <h1 class="my_title text-center">Create a new account</h1>
    <br />
    <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
      <br />
      <p>Enter the following information to create a new account.</p>
      <form method="post">
        <p>{{ form | crispy }}</p>
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">
          Register Account
        </button>
      </form>
      <br />
    </div>
  </div>
  {% endif %}
</div>
<br />
{% endblock %}
